body {
  background-color: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

:root {
  --first-title-color: #ffffff;
  --second-title-color: #000000;
  --accent-color: #ffffff;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------------------------------- header--------------------------------- */

.header {
  background-color: rgb(255, 255, 255);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.header-list {
  margin-left: auto;
  display: flex;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  

  color: #212121;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 32px;
  padding-right: 32px;

  color: #ffffff;
  margin-top: 350px;
  margin-bottom: 200px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-btn {

  background: #2196f3;

  margin: 0 auto;
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.header-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}


/* ------------------------------hero--------------------------------- */

.hero {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto;


  margin-bottom: 30px;

  color: #ffffff;
}

.hero-title {
  margin-bottom: 10px;

}

.hero-pre-title {
  
  color: #757575;
}
/*---------------------------------properties--------------------------------*/
.properties {
  padding-top: 94px;
}

.properties-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: #212121;
}

.portfolio-pre-title {
  background: #ffffff;

}

.properties-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.properties-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  align-items: center;
}

.properties-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background-color: #ffffff;
}

/*------------------------reasons-----------------------------*/

.reasons-link {
  background: #f5f4fa;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  color: #212121;
}

.reasons-pre {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.reasons-link:hover,
.reasons-link:focus,
.reasons-link:hover,
.reasons-link:focus {
  color: var(--accent-color);
  cursor: pointer;
  background-color: #2196f3;
}

.reasons-item:not(:last-child) {
  margin-right: 8px;
}

/*-----------------------portfolio---------------------------*/

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: #212121;
}

.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;

}

.portfolio-pre {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
  
}

.portfolio-pre-title {
  margin-top: 30px;
  margin-left: 30px;
  width: 370px;
  background: #ffffff;
}

.portfolio-o-pre-title{
  width: 370px;
  margin-left: 30px;
}
.portfolio {
  padding-bottom: 94px;
}

.portfolio-o {
  padding-top: 20px ;
  padding-bottom: 20px;
  padding-left: 24px ;
  padding-right: 24px; 
  border-right: 1px solid rgba(238, 238, 238, 1);;
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom:1px solid rgba(238, 238, 238, 1);
}

/*---------------------------address---------------------------------------*/

/*---------------------------------headlines------------------------------*/

.headlines {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/*----------------------------logo----------------------------------------*/
.logo-nav{
  margin-right: 93px;
}
.logo {
  font-family: "Raleway";
  display: block;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
}

.logo-pre {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.logo-o-pre {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.logo-item {
  background-color: #2f303a;
}

/* ------------------------------basement-------------------------------- */
.basement {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgb(62, 62, 68);

}

/*-----------------------------------footer------------------------------ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 30px;
  
  color: #2196f3;
  text-decoration: none;
}

.footer-pre {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-o-pre {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-adress-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}
.footer-link {
  text-decoration: none;
  font-style: normal;
}

/*------------------------------activity----------------------------------*/


.activity-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
}

.activity-item {
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*--------------------------caption---------------------------------------*/

.caption {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  
  margin-bottom: 50px;

  color: #212121;
}

.caption-activity {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 50px;
}

.activity-item:not(:last-child)) {
  margin-right: 30px;
}

/* ------------------------item------------------------------------------- */
.item {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.workers {
  padding-top: 30px ;
  padding-bottom: 30px;
  text-align: center;
}

.reasons {
  padding-top: 94px;
  padding-bottom: 94px;
}