body {
  background-color: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}

ul{
margin: 0;
padding-left: 0;
}

button{
  cursor: pointer;
}

:root {
  --first-title-color: #ffffff;
  --second-title-color: #000000;
  --accent-color: #ffffff;
}

img{
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
*{
  box-sizing: border-box;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
 
}

/*-------------------------------- header--------------------------------- */

.header{
  background-color: rgb(255, 255, 255);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container{
  display: flex;
  align-items: center;
}

.header-connect{
  margin-left: auto;
}

.header-list{
  display: flex;
}


.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}


.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
margin-top: 350px;
margin-bottom: 200px;
}

.header-nav{
display: flex;
  align-items: center
}

.header-btn{
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;

background: #2196F3;

margin: 0 auto;

}

.footer-link{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.header-title{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}

.header-item:not(last-child){
  margin-right: 50px;
}
/* ------------------------------hero--------------------------------- */

.hero{
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;


  padding-left: 425px;
  padding-right: 425px;
  margin: 0 auto;

padding-top: 200px;
padding-bottom: 280px;



color: #FFFFFF;
}

.hero{
  background-color: rgb(62, 62, 68);
}

.hero-title{
  padding-bottom: 10px;
}


/*---------------------------------properties--------------------------------*/


.properties-title{
  font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;

color: #212121;
}

.portfolio-pre-title{
  background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;

}

.properties-text{
font-weight: normal;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: #757575;
}

.properties-list{
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  align-items: center;
}

.properties-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background-color: #ffffff;
}



/*------------------------reasons-----------------------------*/

.reasons-link{

background: #F5F4FA;
border-radius: 4px;

font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;

color: #212121;
}

.reasons-pre{
  display: flex;
  align-items: center;
  padding-left: 280px;
}

.reasons-link:hover,
.reasons-link:focus,
.reasons-link:hover,
.reasons-link:focus{
  color: var(--accent-color);

}

.reasons-item{
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 8px;
}

/*-----------------------portfolio---------------------------*/

.portfolio-title{
  font-weight: bold;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;

color: #212121;
}

.portfolio-text{
  font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: #757575;

padding-bottom: 20px;
}

.portfolio-pre{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
justify-content: space-between;
}

.portfolio-pre-title{
  margin-bottom: 30px;
  width: 370px;
height: 404px;
left: 215px;
top: 696px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

/*---------------------------address---------------------------------------*/


/*---------------------------------headlines------------------------------*/

.headlines{
  font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

/*----------------------------logo----------------------------------------*/

.logo{
  font-weight: bold;
font-size: 26px;x
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
margin-right: 93px;

}

.logo-pre{
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #000000;

}

.logo-o-pre{
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #ffffff;

}

.logo-item{
  background-color:#2F303A;
}



/* ------------------------------basement-------------------------------- */
.basement{

}

/*-----------------------------------footer------------------------------ */
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-pre{
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item{
  padding-bottom: 9px;
}

.footer-o-pre{
  padding-bottom: 60px;
  padding-top: 60px;
}
/*------------------------------activity----------------------------------*/


.activity-hero{
  margin-bottom: 30px;
}

.activity-list{
  padding-bottom: 94px;
  display: flex;
  align-items: center;
}

.activity-item{
  padding-top: 50px;
}

/*--------------------------caption---------------------------------------*/

.caption{
  margin-bottom: 50px;
  font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
padding-top: 94px;

color: #212121;
}

.caption-activity{
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

margin-bottom: 50px;
}

.activity-item{
  margin-right: 30px;
  margin-bottom: 94px;
}

/* ------------------------item------------------------------------------- */
.item{
background-color: #F5F4FA;
}