body {
  background-color: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}

ul{
margin: 0;
padding-left: 0;
}

button{
  cursor: pointer;
}

:root {
  --first-title-color: #ffffff;
  --second-title-color: #000000;
  --accent-color: #ffffff;

}

body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
*{
  box-sizing: border-box;
}

/*-------------------------------- header--------------------------------- */

.header{
  background-color: rgb(255, 255, 255);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}


.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.header-btn{
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.footer-link{
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.header-title{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;

}
/* ------------------------------hero--------------------------------- */

.hero{
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.hero{
  background-color: rgb(62, 62, 68);
}
/*---------------------------------properties--------------------------------*/


.properties-title{
  font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.portfolio-pre-title{
  background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;

}

.properties-text{
font-weight: normal;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: #757575;
}



/*------------------------reasons-----------------------------*/

.reasons-link{

background: #F5F4FA;
border-radius: 4px;

font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}



.reasons-link:hover,
.reasons-link:focus,
.reasons-link:hover,
.reasons-link:focus{
  color: var(--accent-color);

}

/*-----------------------portfolio---------------------------*/

.portfolio-title{
  font-weight: bold;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;

color: #212121;
}

.portfolio-text{
  font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: #757575;
}

/*---------------------------address---------------------------------------*/


/*---------------------------------headlines------------------------------*/

.headlines{
  font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

/*----------------------------logo----------------------------------------*/

.logo{
  font-weight: bold;
font-size: 26px;x
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
}

.logo-pre{
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #000000;

}

.logo-o-pre{
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #ffffff;

}

.logo-item{
  background-color:#2F303A;
}



/* ------------------------------basement-------------------------------- */

/*-----------------------------------footer------------------------------ */
.footer{
  background-color: #2F303A;
}